* {
			box-sizing: border-box;
		}
h1{
	text-align: center;
}
		div {
			margin: 5px;
			border: 1px solid black;
			overflow-y: hidden;
			background-color: #888888
		}
		.sdiv{
			padding: 5px 20px 5px 10px;

		}
		.namestyle {
			border: 1px solid black;
			text-align: center;
			float: right;
			width: 150px;
			padding: 2px;
			background-color: #FF0000;
			text-decoration-color: #000000;
		}
		p {
			clear: right;
			padding: 10px;
		}
		@media (min-width: 992px){
			.col-lg-4 {
				float: left;
				width: 33%;
			}
			div{
				height: 140px;

			}
		}

		@media (min-width: 768px) and (max-width: 991px){
			.col-md-1{
				float: left;
				width: 100%;
			}
			.col-md-2{
				float: left;
				width: 50%;
			}
			div{
				height: 125px;
			}
		}
		@media (min-width: 576px) and (max-width: 767px){
			.col-sd-1{
				float: left;
				width: 100%;
			}
			div{
				height: 100px;
			}
		}